.formbg{
    background: linear-gradient(135deg, #2FC3C7, #9474CB
    );
    height: 100vh;
    display: flex;
    .formframe{
        background: #fff;
        height: 85vh;
        border-radius: 25px;
        width: 65%;
        margin: auto;
        text-align: left;
        overflow: auto;
        padding: 20px;
        .headtitle{
            font-size: 1.5em;
            font-weight: 500;
            border-bottom: 0.5px solid gray;
            margin-bottom: 15px;
        }
        .formbox{
            .accstyle{
                width: 33%;
                flex-shrink: 0;
                font-size: 1.2em;
                font-weight: 500;
            }
            .inputlabel{
                font-size: 0.9em;
                margin-bottom: 5px;
                color: #717781;
            }
            .txtbox{
                width: 85%;
                .MuiInputBase-root{
                    input{
                        height: 3px;
                    }
                }
            }
            .prvimg{
                width: 150px;
                max-height: 100px;
            }
            .datetime{
                // overflow: hidden;
                // width: 85%;
                // input{
                //     padding: 8px 14px;
                // }
                width: 85%;
                height: 30px;
                border: 1px solid #c7c7c7;
                border-radius: 5px;
            }
            .drpbx{
                width: 40%;
                .MuiSelect-select{
                    padding: 7px 14px;
                }
            }
            .btnsec{
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                .btnadd{

                }
                .btndel{
                    color: red;
                }
            }
            .sbmbtnsec{
                display: flex;
                flex-direction: row-reverse;
                margin: 20px 10px;
                .btnsubmit{
                    background: #32a3b4;
                    color: #fff;
                }
            }
        }
    }
}
/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 80%;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f100; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #88888848; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}